<form [formGroup]="shoeForm" (ngSubmit)="onSubmit()">
  <!-- ID Field -->
  <p>If you are creating a new Shoe.</p>
  <p>  DO NOT INCLUDE ID.</p>
  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" formControlName="id" [appHighlightOnFocus]="'lightblue'" />
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" [appHighlightOnFocus]="'aquamarine'" />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" formControlName="description" [appHighlightOnFocus]="'bisque'"/>
  </div>

  <div class="form-group">
    <label for="Date">Date</label>
    <input type="Date" id="Date" formControlName="Date" [appHighlightOnFocus]="'salmon'"/>
  </div>


  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" formControlName="quantity" [appHighlightOnFocus]="'orange'" />
  </div>

  <!-- Submit Button  -->
  <button [appHoverHighlight]="'lightblue'" type="submit" >Submit</button>

</form>
